In [4]:
data = {
 'X1':[0,1,2],
 'Y1':['a','b','c'],
 'Y' :[0.1, 0.2, 0.3]
}

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(data)

In [12]:
df[['X1','Y1']]

   X1 Y1
0   0  a
1   1  b
2   2  c

In [15]:
df[:2]

   X1 Y1    Y
0   0  a  0.1
1   1  b  0.2

In [19]:
df[df['X1']>0]

   X1 Y1    Y
1   1  b  0.2
2   2  c  0.3

In [27]:
df[1,2]

KeyError: (1, 2)