In [45]:
import pandas as pd
import numpy as np

In [15]:
arr = np.array([1, 3, 5, 5, 7, 7, 7, 9])

In [10]:
stat.mode(arr)

7

In [11]:
stat.median(arr) # stat truncates the me

6.0

In [12]:
stat.mean(arr) # stat truncates the mean -- the actual value is 5.5

5

In [35]:
def stats(arr):
    return f"{arr}\nmean {stat.mean(arr)} \n\nmedian {stat.median(arr)}\nmode {stat.mode(arr)}"

In [36]:
print(stats(arr))

[1 3 5 5 7 7 7 9]
mean 5

median 6.0
mode 7

In [40]:
sum(arr)/ len(arr)

5.5

In [41]:
stat.mean(arr)

5

In [42]:
arr = [10, 12, 23, 23, 16, 23, 21, 16]

In [47]:
df = pd.DataFrame(arr)

In [48]:
df.describe()

               0
count   8.000000
mean   18.000000
std     5.237229
min    10.000000
25%    15.000000
50%    18.500000
75%    23.000000
max    23.000000

In [49]:
m = np.array(arr)

In [67]:
#arr = [-6,-4,-2,1,1,2,2,2,6,8]
#arr = [10, 19, 5, 34, 30, 11, 14, 10]
arr = [0, 4, 9, 6, 7, 4, 3]

In [63]:
def nump(arr):
    n = np.array(arr)
    return n.mean()

In [68]:
print(nump(arr))

4.714285714285714