In [1]:
import pandas as pd
import numpy as np

In [7]:
data = {'A':[0.1, 0.2, 0.3], 'B':[10, 20, 30]}

In [8]:
table = pd.DataFrame(data)

In [9]:
table

     A   B
0  0.1  10
1  0.2  20
2  0.3  30

In [10]:
type(table['A'])

pandas.core.series.Series

In [11]:
a = table['A']

In [12]:
table['A'].sum()

0.6000000000000001

In [14]:
table['C'] = table['A'].add(table['B'])

In [15]:
table

     A   B     C
0  0.1  10  10.1
1  0.2  20  20.2
2  0.3  30  30.3

In [16]:
 table['A'].multiply(table['B'])

0    1.0
1    4.0
2    9.0
dtype: float64

In [23]:
# be careful. sum is used to sum the series elements, not add two serieses together.
try:
  table['A'].sum(table['B'])
except Exception as e:
    print(e)

unhashable type: 'Series'

# plotting

In [1]:
from sklearn import datasets
X = datasets.load_iris(as_frame=True)
df = X.frame

ModuleNotFoundError: No module named 'sklearn'

In [1]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'